{% extends 'MikeBundle::base.html.twig' %}
{% set pageTitle = 'Login' %}
{% set section = 'login' %}

{% block body %}
    <div class="section page">

        <div class="wrapper">
            <h1>Login</h1>

        {% if error %}
            <p class="message">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
        {% endif %}
        <form action="{{ path('login') }}" method="post">
            <table>
                <tr>
                    <th>
            <label for="username">Username:</label>
                    </th>
                     <td>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
                    </td>
                </tr>
                <tr>
                    <th>
            <label for="password">Password:</label>
                    </th>
                    <td>
            <input type="password" id="password" name="_password" />
                    </td>
                </tr>
                </table>
            <button id="login_submit" type="submit">login</button>
        </form>
        </div>
    </div>
{% endblock %}